main .map .mapouter {
  position: relative;
  text-align: right;
}

main .map .mapouter .gmap_canvas {
  overflow: hidden;
  background: none !important;
}

main .map .mapouter #iframe {
  height: 300px;
  width: 100%;
}

main .contactUs .breadCrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 27px 0 13px;
  color: #787878;
  font-size: 13px;
}

main .contactUs .breadCrumbs .home {
  text-decoration: none;
  color: inherit;
}

main .contactUs .breadCrumbs .distance {
  padding-left: 3px;
}

main .contactUs .inputs {
  width: 100%;
  height: 45px;
  border: 1px solid #787878;
  margin-bottom: 15px;
}

main .contactUs #comments {
  width: 100%;
}

main .contactUs .information {
  color: #787878;
  font-size: 12px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
}

main .contactUs .link {
  color: #17a8a3;
}

main .contactUs .btnSubmit {
  color: white;
  padding: 7px 40px;
  border: 1px solid #17a8a3;
  background-color: #17a8a3;
}

main .contactUs .btnSubmit:hover {
  border-color: #0f6865;
  background-color: #0f6865;
}

main .contactUs .btnSample {
  color: black;
  border: 1px solid #787878;
  text-decoration: none;
  padding: 7px 40px;
}

main .contactUs .btnSample:hover {
  border-color: black;
}
